-#  This file is app/views/movies/index.html.haml
= form_tag movies_path, :id=> 'rating_form' ,:method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]" , 1 , true ,:id => 'ratings_{#rating}'
  = submit_tag 'Refresh' ,:id=> 'rating_form'
%h1 All Movies
%table#movies
  %thead
    %tr
      %th{:class=>@hilitetitle}= link_to  'Movie Title', :sort => 'Movie_Title' , :id=>'title_header'
      %th Rating
      %th{:class=>@hiliterelease}= link_to "Release Date", :sort => "Release_Date" ,:id=>'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
